<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    {% for post in site.categories.ux %}
    <div class="card col-lg-3 d-flex align-items-stretch m-1">
      <div>

        <div class="card-body">
          <div class="media">
            <div class="d-flex mr-3">
              <img width="40" height="40"
              class="rounded-circle"
              src="/assets/img/{{ post.image }} " alt="{{ post.title }}" />
            </div>

            <div class="media-body">
              <h6 class="mb-1">{{ post.title }}</h6>
              <p class="text-muted">{{ post.excerpt }}</p>
            </div>
          </div>

          <p class="mb-0">
            {{ include.content }}
          </p>
          <a href="{{ post.url }}">More</a>
        </div>
      </div>
      </div>
{% endfor %}
</div>
