<!-- <div class="mt-5">
  <ul class="mt-5"> -->
  <div class="d-flex flex-wrap justify-content-center">
{% for post in site.posts limit:3 %}
<div class="p-2">
  <div class="card no-gutters" style="width: 18rem;">
    <a href="{{ post.url }}" ><img class="card-img-top mb-0" src="/assets/img/{{ post.image }}" alt="Card image cap"></a>
    <div class="card-body pt-0">
      <a href="{{ post.url }}" ><h5 class="p-override-grey card-title">{{ post.title }}</h5><a/>

      </a>
      <!-- <p class="p-override-grey card-text">{{ post.content | truncatewords: 10 }}</p> -->
      <p class="p-override-grey card-text">{{ post.excerpt }}</p>
      <a href="{{ post.url }}" class="btn btn-primary btn-sm">Check it out</a>
    </div>
  </div>
</div>
{% endfor %}
</div>
<!-- </ul>
</div> -->
