

<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    {% for post in site.categories.animation %}
    <div class="card col-lg-3 d-flex align-items-stretch m-1">
      <div>

        <div class="card-body d-flex flex-column">
          <div class="media">
            <div class="d-flex mr-3">
              <img width="40" height="40"
              class="rounded-circle"
              src="/assets/img/{{ post.image }} " alt="{{ post.title }}" />
            </div>

            <div class="media-body">
                    {% for post in paginator.posts %}
              <h6 class="mb-1">{{ post.title }}</h6>
              {% endfor %}
              <p class="text-muted">{{ post.excerpt }}</p>
            </div>
          </div>
          <div>
            <p class="mb-0">
              {{ include.content }}
            </p>

          </div>
          <!-- <a href="{{ post.url }}">More</a> -->
        <div class="mt-auto">
          <button type="button" class="btn-sm btn-primary ml-auto mr-3 mb-3">Primary</button>
        </div>

        </div>

      </div>
      </div>
{% endfor %}
</div>
