<footer class="footer">
  <div class="container">
    <div class="text-center py-5">
      <!-- <a class="footer-link" target="_blank" href="https://twitter.com/sthig"> -->
      <a class="footer-link" target="_blank" data-toggle="modal" data-target="#exampleModal">
        <img alt="Thigpen Designs" class="btn footer-logo mb-3" src="{{base}}/assets/img/logos/bear-logo-wordmark.svg" alt="Thigpen Designs" style="width: 200px;">
      </a>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My Life's Philosophy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <blockquote class="blockquote">
        <p>
          Not merely bear what is necessary...but love it.
        </p>
        <footer class="blockquote-footer">Marcus Aurelius <cite title="Source Title">Meditations</cite></footer>
        </blockquote>
        <div class="col">
          <form id="contactform" method="POST">
            <input type="text" name="name" placeholder="Your name">
            <input type="email" name="_replyto" placeholder="Your email">
            <input type="hidden" name="_subject" value="Website contact" />
            <textarea name="message" placeholder="Your message"></textarea>
            <input type="text" name="_gotcha" style="display:none" />
            <input type="submit" value="Send">
          </form>
        </div>

<script>
var contactform = document.getElementById('contactform');
contactform.setAttribute(
  'action',
  '//formspree.io/' + 'scott.thigpen' + '@' + 'gmail' + '.' + 'com'
);
</script>
        <img alt="Thigpen Designs" class="footer-logo mb-3" src="{{base}}/assets/img/logos/bear-logo-wordmark.svg" alt="Thigpen Designs" style="width: 260px;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://github.com/sThig">GitHub</a>
        </li>
        <li class="list-inline-item">·</li>
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://twitter.com/sthig">Twitter</a>
        </li>
        <li class="list-inline-item">·</li>
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://dribbble.com/sThig">Dribbble</a>
        </li>
        <li class="list-inline-item">·</li>
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://www.linkedin.com/in/scott-thigpen-43509878/">LinkedIn</a>
        </li>
        <li class="list-inline-item">·</li>
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://www.facebook.com/sthig">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
    <!-- Footer -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/javascripts/helper.js"></script>
    <script src="/assets/javascripts/wow.js"></script>
    <script>new WOW().init();</script>
  </body>
</html>
