<footer class="footer">
  <div class="container">
    <div class="text-center py-5">
      <a class="footer-link" target="_blank" href="https://twitter.com/sthig">
        <img alt="Thigpen Designs" class="footer-logo mb-3" src="{{base}}/assets/img/logos/bear-logo-wordmark.svg" alt="Thigpen Designs" style="width: 160px;">
      </a>
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://github.com/sThig">GitHub</a>
        </li>
        <li class="list-inline-item">·</li>
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://twitter.com/sthig">Twitter</a>
        </li>
        <li class="list-inline-item">·</li>
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://dribbble.com/sThig">Dribbble</a>
        </li>
        <li class="list-inline-item">·</li>
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://www.linkedin.com/in/scott-thigpen-43509878/">LinkedIn</a>
        </li>
        <li class="list-inline-item">·</li>
        <li class="list-inline-item">
          <a class="text-muted" target="_blank" href="https://www.facebook.com/sthig">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
    <!-- Footer -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/javascripts/helper.js"></script>
    <script src="/assets/javascripts/wow.js"></script>
    <script>new WOW().init();</script>
  </body>
</html>
