<footer class="pt-4 section-footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3 px-5">

        <!-- Content -->
        <h5 class="text-uppercase">Thigpen Designs</h5>
        <p>Hand coded with ❤️ in the heart of Birmingham, Alabama</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/sthig">Facebook <i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/sthig/">Instagram <i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="mailto:scott.thigpen@gmail.com">eMail <i class="far fa-envelope-open"></i></a>
          </li>
          <li>
            <a href="https://github.com/sThig">GitHub <i class="fab fa-github-alt"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/scott-thigpen-43509878/">LinkedIn <i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://dribbble.com/sThig">Dribbble <i class="fab fa-dribbble-square"></i></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <h5 class="text-uppercase">Updates</h5>


          {% include post-update.html %}


      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://www.thigpendesigns.com"> ThigpenDesigns.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/javascripts/helper.js"></script>
    <script src="/assets/javascripts/wow.js"></script>
    <script>new WOW().init();</script>
  </body>
</html>
