
<nav class="navbar bottom-shadow navbar-default fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="ml-3 navbar-brand" href="/index.html">Thigpen Designs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/pages/design-ux.html">User Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/design-ui.html">User Interface</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/code.html">Front End</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/illustration.html">Illustration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/animation.html">Animation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about.html">About</a>
        </li>
      </ul>
    </div>
</nav>
