
<nav class="navbar bottom-shadow navbar-default fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="ml-3 navbar-brand" href="#home">Thigpen Designs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#uiux">UIUX</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#code">Front End</a>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#illustration">Illustration</a>
        <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" href="#animation">Animation</a></li>


      </ul>
    </div>
</nav>
