<div class="card col-lg-12">
  <div class="card-body">
    <div class="media">
      <div class="d-flex mr-3">
        <img width="40" height="40"
          class="rounded-circle"
          src="assets/img/{{ include.image }}" />
      </div>

      <div class="media-body">
        <h6 class="mb-1">{{ include.title }}</h6>
        <p class="text-muted">{{ include.subtitle }}</p>
      </div>
    </div>

    <p class="mb-0">
      {{ include.content }}
    </p>
    <a href="pages/{{ include.linktopage }}">More</a>
  </div>
</div>
