{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth <= 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{site.url}}">
    <img src="{{base}}/assets/img/logos/bear-logo-white-head.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Thigpen Designs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <li class="nav-item">
        <a class="nav-link" href="{{base}}/aboutme">About</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{{base}}/user-interface">User Interface</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{base}}/user-experience">User Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{base}}/coding">Front End</a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{base}}/illustrations">Illustration</a>
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" href="{{base}}/animations">Animation</a></li>
    </ul>
  </div>
</nav>

{% if page.url != "/" %}
   {% include breadcrumbs.html %}
{% endif %}
