<div class="card p-3">
  <div class="table-responsive">
    <table class="border mb-0 table table-semibordered table-striped table-hover table-default">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item name</th>
          <th scope="col">Excerpt</th>
          <th scope="col">Content</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        {% for code in site.coding %}
        {% if code.passname == 'code' %}
        <tr>
          <th scope="row">{% increment site.code %}</th>

          <td>{{ code.title | truncatewords: 10 }}</td>
          <td><a href="{{ code.url }}">{{ code.excerpt | truncatewords: 20 }}</a></td>
          <td>{{ code.content | truncatewords: 20 }}</td>
          <td>
            <img width="40" height="40"
            class="rounded-circle"
            src="/assets/img/{{ code.image }} " alt="{{ code.title | truncatewords: 4 }}" />
          </td>

        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
