/* Coolors Exported Palette - coolors.co/ff6b35-f7c59f-efefd0-004e89-1a659e */

/* HSL */
$primary: hsla(16%, 100%, 60%, 1);
$secondary: hsla(26%, 85%, 80%, 1);
$tertiary: hsla(60%, 49%, 88%, 1);
$quaternary: hsla(206%, 100%, 27%, 1);
$quinary: hsla(206%, 72%, 36%, 1);

/* RGB */
$primary: rgba(255, 107, 53, 1);
$secondary: rgba(247, 197, 159, 1);
$tertiary: rgba(239, 239, 208, 1);
$quaternary: rgba(0, 78, 137, 1);
$quinary: rgba(26, 101, 158, 1);
