---
layout: default
---

<div>
  <div class="d-flex" style="background-color: #EAECEF;">
    <div class="container jumbotron mx-auto mb-0 pb-4">
      <div class="mx-auto">
        <img width="50" height="50"
        class="rounded-circle float-left mr-2"
        src="assets/img/internal/avatar.svg" />
        <h1 class="display-4">Hi, I'm Scott</h1>

        <p class="lead">And I've worked in the creative industry for over twenty years with clients such as the Wall Street Journal, Dreamworks, Coca Cola, Snapple and The University of Alabama at Birmingham</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-block btn-primary btn-lg" href="{{base}}/aboutme" role="button">More about me</a>
        </p>
      </div>
    </div>
  </div>

<div class="container mt-3 mx-auto col-lg-8" style="max-width: 1140px;">
<div class="row">

  <div class="col-lg-6 mx-auto my-3 d-flex align-items-stretch">
    {% include info_section.html
      image-size="3"
      paragraph-size="7"
      section="code"
      title="User Interface"
      subtitle="Pixel Perfect Slickness"
      blurb="Pixel Perfect Slickness"
      image="ui.svg"
      content="I build user interfaces that are creative, practical and delight the user as well caring about the developers who code it."
      linktopage="user-interface" %}
    </div>
  <div class="col-lg-6 mx-auto my-3 d-flex align-items-stretch">
    {% include info_section.html
      image-size="3"
      paragraph-size="7"
      section="code"
      title="User Experience"
      subtitle="Empathy for users...and devs"
      blurb="Have empathy for your users"
      image="ux.svg"
      content="Starting with doodles on napkins and ending with wireframes, I care about crafting out an user experience that's ubiquitous"
      linktopage="user-experience" %}
    </div>
</div>
<div class="row">

  <div class="col-lg-12 mx-auto my-3 d-flex align-items-stretch">
    {% include info_section.html
      image-size="2"
      paragraph-size="10"
      section="code"
      title="Front End Development"
      subtitle="Brought to you by Mark HAML"
      blurb="I speak various dialects of Javascript, CSS and HTML"
      image="code.svg"
      content="This section is relevant If words like ES6, React, HAML, Sass, Atom, Foo, Bootstrap, 'Hello World!' and Github mean anything to you."
      linktopage="coding" %}
    </div>
</div>
<div class="row">
  <div class="col-lg-6 mx-auto my-3 d-flex align-items-stretch">
    {% include info_section.html
      image-size="3"
      paragraph-size="7"
      section="illustration"
      title="Illustration"
      subtitle="The pen is mighter"
      blurb="From icon.svgs to illustrated book covers, I've done it all"
      image="illustration.svg"
      content="For over twenty years I've been an illustrator working for companies like the Wall Street Journal, Dreamworks, Coca Cola, Toyota, Snapple and McGraw Hill to name a few."
      linktopage="illustrations" %}
    </div>
    <div class="col-lg-6 mx-auto my-3 d-flex align-items-stretch">
      {% include info_section.html
        image-size="3"
        paragraph-size="7"
        section="animantion"
        title="Animation"
        subtitle="A moving picture is worth 100,000 words"
        blurb="If a picture is worth a thousand words, animation is worth a million"
        image="animation.svg"
        content="One of my favorite things to do is animate especially using vector animations and Adobe's After effects to create cutting edge gifs"
        linktopage="animations" %}
      </div>
</div>


    </div>
</div>
