---
layout: default
---

<div class="d-flex flex-column row-grey-height">

  <div class="section-hello fixed-height fill d-flex justify-content-center align-items-center"  id="home">
    <div class="vertical-center-row">

      <div class="row">
        <div class="col">
          <h4>Hi, I'm Scott Thigpen</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>And I'm a creative <span class="front-page-text-swap" id="textswap"> person </span>.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <section id="section03" class="demo d-flex justify-content-center">
      <a href="#uiux"><span></span>More</a>
    </section>
  </div>

<div class="wow fadeIn row p-5 section-uiux" id="uiux">
  <div class="col-lg-6">
    {% include info_section.html
      image-size="4"
      paragraph-size="8"
       section="code"
       title="UX"
       subtitle="User Experience"
       blurb="Some stuff about user ex"
       image="iterations.png"
       content="For over twenty years I've been a professional in the creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
       linktopage="design-ux.html" %}
  </div>
  <div class="col-lg-6">
    {% include info_section.html
      image-size="4"
      paragraph-size="8"
       section="code"
       title="UI"
       subtitle="User Interface"
       blurb="Some stuff about user interfact"
       image="testitout.png" content="creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworont End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
       linktopage="design-ui.html" %}
  </div>
</div>

<div class="wow fadeIn p-5 section-about" id="code">
  <div class="col-lg-12">
    {% include info_section.html
      image-size="2"
      paragraph-size="10"
      section="code"
      title="Front End Development"
      subtitle="I'm like Mark Haml on board the ES6 spaceship SASSing everyone"
      blurb="This will be a clever blurb about front end development"
      image="code-illo.png"
      content="This will be a paragraph introducing what skills I provide for front end development. It'll detail my knowledge of CSS, SCSS, SASS, HTML, Bootstrap, javascript, React.js, version control like GitHub, using Atom as an editor."
      linktopage="code.html" %}
  </div>
</div>


  <div class="wow fadeIn row p-5 section-illo" id="illustration">
    <div class="col-lg-6">
      {% include info_section.html
        image-size="4"
        paragraph-size="8"
        section="illustration"
        title="Illustration"
        subtitle="Illustration"
        blurb="For over 20 years blah blah blah..."
        image="nuyu.jpg" content="For over twenty years I've been a professional in the creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
        linktopage="illustration.html" %}
    </div>
    <div class="col-lg-6">
      {% include info_section.html
        image-size="4"
        paragraph-size="8"
        section="animantion"
        title="Animation"
        subtitle="Animation"
        blurb="I draw and I know things"
        image="kedi.gif"
        content="I've illustrated for the Wall Street Journal, animated for Dreamworont End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
        linktopage="animation.html" %}
    </div>
  </div>

<div class="wow fadeIn p-5 section-about" id="about">
  <div class="col-lg-12">
    {% include info_section.html
       section="About
       Me" title="About Me"
       image-size="3"
       paragraph-size="9"
       subtitle="Jack of all trades, master of a few of them."
       blurb="I'm really, really good at one or two things and wing the rest"
       image="me.JPG" content="I've worked in the creative industry for like 20 billion years now. I've illustrated for the Wall Street Journal, animated for Dreamworont End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
       linktopage="about.html" %}
  </div>
</div>
