---
layout: default
---

<div class="d-flex flex-column row-grey-height">

  <div class="section-hello fixed-height fill d-flex justify-content-center align-items-center"  id="home">
    <div class="flex-wrap d-flex justify-content-left col-lg-3 front-page-header">

      <div class="row">
        <div class="col">
          <h4>Hi, I'm Scott Thigpen</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>And I'm a creative <span class="front-page-text-swap" id="textswap"> person </span>.</h4>
        </div>
      </div>
    </div>
  </div>
  <div>
    <section id="section03" class="demo d-flex justify-content-center">
      <a href="#uiux"><span></span>More</a>
    </section>
  </div>

<div class="wow fadeIn row p-5 section-uiux m-0" id="uiux">
  <div class="col-lg-6">
    {% include info_section.html
      image-size="3"
      paragraph-size="7"
       section="code"
       title="UX"
       subtitle="User Experience"
       blurb="Have empathy for your users"
       image="ux.jpg"
       content="Starting with doodles on napkins and ending with wireframes, I care about crafting out an user experience that's ubiquitous"
       linktopage="design-ux.html" %}
  </div>
  <div class="col-lg-6">
    {% include info_section.html
      image-size="3"
      paragraph-size="7"
       section="code"
       title="UI"
       subtitle="User Interface"
       blurb="Pixel Perfect Slickness"
       image="/cats/ui/bearfinal-front.gif"
       content="Buttons, components, pixel perfect comps designed in the latest software"
       linktopage="design-ui.html" %}
  </div>
</div>

<div class="wow fadeIn p-5 section-about" id="code">
  <div class="col-lg-12">
    {% include info_section.html
      image-size="2"
      paragraph-size="10"
      section="code"
      title="Front End Development"
      subtitle="Front End Development"
      blurb="I'm like Mark Haml on board the ES6 spaceship SASSing everyone"
      image="code-illo.png"
      content="This will be a paragraph introducing what skills I provide for front end development. It'll detail my knowledge of CSS, SCSS, SASS, HTML, Bootstrap, javascript, React.js, version control like GitHub, using Atom as an editor."
      linktopage="code.html" %}
  </div>
</div>


  <div class="wow fadeIn row p-5 section-illo m-0" id="illustration">
    <div class="col-md-6">
      {% include info_section.html
        image-size="3"
        paragraph-size="7"
        section="illustration"
        title="Illustration"
        subtitle="Illustration"
        blurb="From icon.svgs to full blown book covers"
        image="nuyu.jpg" content="For over twenty years I've been a professional in the creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
        linktopage="illustration.html" %}
    </div>
    <div class="col-md-6">
      {% include info_section.html
        image-size="3"
        paragraph-size="7"
        section="animantion"
        title="Animation"
        subtitle="Animation"
        blurb="If a picture is worth a thousand words, animation is worth a million"
        image="kedi.gif"
        content="One of my favorite things to do is animate especially using vector animations and Adobe's After effects to create cutting edge gifs"
        linktopage="animation.html" %}
    </div>
  </div>

<div class="wow fadeIn p-5 section-about" id="about">
  <div class="col-lg-12">
    {% include info_section.html
       section="About
       Me" title="About Me"
       image-size="3"
       paragraph-size="9"
       subtitle="Jack of all trades, master of a few of them."
       blurb="I'm really, really good at one or two things and wing the rest"
       image="me.JPG" content="I've worked in the creative industry for like 20 billion years now. I've illustrated for the Wall Street Journal, animated for Dreamworont End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
       linktopage="about.html" %}
  </div>
</div>
