---
layout: default
---
<div class="container">
  <div class="page-header">

    <img class="rounded-circle" width="50" src="/assets/img/internal/{{ page.image }}" alt="Icon">
    <h4 class="display-4">{{ page.title }}</h4>
    <h5 class="page-subtitle w-50 w-md-100 m-auto">{{ page.subtitle }}</h5>
</div>
<div class="mx-auto col-lg-10 d-flex justify-content-center px-4">
  <div class="col-lg-6">
    {{ content }}
  </div>
  <div class="col-lg-6">
    <img class="mx-auto d-block img-fluid" src="/assets/img/cats/{{ page.cat-image }}" alt="{{ page.image-name }}">
  </div>
</div>


<div class="col-lg-12 mt-2">
</div>

{% if page.passname == 'animations' %}
{% include animation-card.html %}
{% endif %}

{% if page.passname == 'illustrations' %}
{% include illustration-card.html %}
{% endif %}

{% if page.passname == 'coding' %}
{% include coding-card.html %}
{% endif %}

{% if page.passname == 'userinterfaces' %}
{% include ui-card.html %}
{% endif %}

{% if page.passname == 'userexperiences' %}
{% include ux-card.html %}
{% endif %}

{% if page.passname == 'about' %}
{% include animation-card.html %}
{% endif %}
