---
layout: default
pagination:
  enabled: true
---
<div class="container">
  <div class="page-header">
    <img class="rounded-circle" width="50" src="/assets/img/internal/{{ page.image }}" alt="Icon">
    <h4 class="display-4">{{ page.home-title }}</h4>
    <h5 class="page-subtitle w-50 w-md-100 m-auto">{{ page.subtitle }}</h5>
</div>
<div class="col-lg-10 mx-auto row d-flex justify-content-center">
  <div class="col-lg-6">
    <!-- Just some nice to have styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
</style>

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    <!--
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts
    -->
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
    {% for post in paginator.posts %}
      <h1>{{ post.title }}</h1>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
    {{ content }}
  </div>
  <div class="col-lg-6 p-0 d-none d-md-block">
    <img class="mx-auto d-block img-fluid" src="/assets/img/cats{{ page.cat-image }}" alt="{{ page.image-name }}">
  </div>
</div>

{% if page.passname == 'animations' %}
{% include animation-card.html %}
{% endif %}

{% if page.passname == 'illustrations' %}
{% include illustration-card.html %}
{% endif %}

{% if page.passname == 'coding' %}
{% include coding-card.html %}
{% endif %}

{% if page.passname == 'userinterfaces' %}
{% include ui-card.html %}
{% endif %}

{% if page.passname == 'userexperiences' %}
{% include ux-card.html %}
{% endif %}

{% if page.passname == 'about' %}
{% include animation-card.html %}
{% endif %}
