// Body resets
//
// Update the foundational and global aspects of the page.
@import 'hootstrap/base/variables';
@import 'hootstrap/base/mixins/background';
@import 'hootstrap/base/mixins/button';
@import 'hootstrap/base/mixins/toast';
@import 'hootstrap/base/mixins/tooltip';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  background-color: $color20darken;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 20px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $colortext;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: $bgHighlight;
    text-decoration: none;
  }

  strong {
    color: inherit;
  }
}

// Images
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

.img-circle {
  // width: 25%;
  border-radius: 50%;
}

// Tables
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $color2;
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid $color2;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $color2darken;
}

.fixed-height {
  height: 100vh;
}

.navbar {
  a:hover {
    cursor: pointer;
    -webkit-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
  }
}
